name: TikTok Bot Run


on:
  workflow_dispatch: # يسمح لك بتشغيله يدوياً بضغطة زر
  schedule:
    - cron: '0 * * * *' # سيعمل تلقائياً كل ساعة

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run TikTok Script
        run: python tik.py

      - name: Save Results
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Save new accounts"
